@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-je8rqg');
	src:url('fonts/icomoon.eot?#iefix-je8rqg') format('embedded-opentype'),
		url('fonts/icomoon.woff?-je8rqg') format('woff'),
		url('fonts/icomoon.ttf?-je8rqg') format('truetype'),
		url('fonts/icomoon.svg?-je8rqg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e600";
}
