---
layout: default
title: Tito Valencia
description: Tito Valencia's Homepage
---

<!--INTRODUCTION-->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="introduction">
			Nowadays, the world is getting closer to globalization. But, people talk in different languages which is one of the biggest problems to achieve such goal. My research focuses on how to solve it efficiently, extending and applying machine learning, linguistics, compression techniques, ontologies, and algorithms.
		</section><!--/introduction-->
	</div>
</div>

<!--NEWS-->
{% if site.data.news-list %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="news">
			<h4>News</h4>
			{% for caca in site.data.news-list reversed | group_by: 'date'%}
				{% assign year = caca.date | date: '%Y' %}
				{{ year }}
			{% end for %}
			{% for news in site.data.news-list reversed | sort_by: 'date' %}
				{% if news.selected %}
					<article><em>{{ news.date | date:'%D' }}.</em> {{ news.content }}</article>
				{% endif %}
			{% endfor %}
		</section><!--/news-->
	</div>
</div>
{% endif %}

<!--PAPERS-->
{% if site.data.paper-list %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="papers">
			<h4>Papers</h4>
			{% for paper in site.data.paper-list reversed | sort_by: 'year', 'month' %}
				{% if paper.selected %}
					{% include paper.html paper=paper %}
				{% endif %}
			{% endfor %}
		</section><!--/papers-->
    </div>
</div>
{% endif %}

<!--TEACHING-->
{% if site.data.teaching-list %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="teaching">
			<h4>Teaching</h4>
			{% for course in site.data.teaching-list reversed | sort_by: 'year' %}
				{% if course.selected %}
					{% include course.html course=course %}
				{% endif %}
			{% endfor %}
		</section><!--/teaching-->
    </div>
</div>
{% endif %}
		