---
layout: default
title: Tito Valencia
description: Tito Valencia's Homepage
---

<!--INTRODUCTION-->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="introduction">
			    	Nowadays, the world is getting closer to globalization. But, people talk in different languages which is one of the biggest problems to achieve this goal. My research focuses on how to solve it efficiently, extending and applying machine learning, linguistics, compression techniques, ontologies, and algorithms.
		</section><!--/introduction-->
	</div>
</div>

<!--PAPERS-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="papers">
			<h4>Papers</h4>
			{% for paper in site.data.paper-list | sort_by: 'year' %}
				{% if paper.selected %}
					{% include paper.html paper=paper %}
				{% endif %}
			{% endfor %}
		</section><!--/papers-->
    </div>
</div>

<!--OTHER-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section id="other">
			<h4>Title</h4>
			<p>I'm working on this. Please, be patient!</p>
		</section><!--/other-->
    </div>
</div>

		