<div class="media">
    <a class="pull-left thumbnail" target="_{{ include.course.label }}" {% if include.course.doc-url%} href="{{ include.course.doc-url }}" {% endif %}>
        <img src="img/teaching/{{ include.course.img }}" width="45px" alt="">
    </a>
    <div class="media-body">
        <strong class="media-heading">
        	{{ include.course.title }}
        </strong></br>
        	{% if include.course.type %}<em>{{ include.course.type }}</em>{% endif %}.{% if include.course.organization %} In {{ include.course.organization }}. {% endif %}        
    </div>
</div>